[Unit]
Description=Optionally hold OS in some state before shutdown target. For SJ201R10, this keeps the fan and screen off. Not called on reboot
DefaultDependencies=no
After=umount.target
Before=final.target

[Service]
Type=oneshot
ExecStart=/opt/ovos/poweroff.sh

[Install]
WantedBy=shutdown.target
