[Unit]
Description=SJ201 Service
Before=pulseaudio.service

[Service]
Type=oneshot
ExecStart=/bin/bash /opt/ovos/configure_sj201_on_boot.sh

[Install]
WantedBy=multi-user.target
WantedBy=pulseaudio.service
