[Unit]
Description=SJ201 Shutdown Service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStop=/bin/bash /opt/ovos/shutdown_sj201.sh

[Install]
WantedBy=multi-user.target