[Unit]
Description=Wifi Setup Check
Requires=network.target

[Service]
Restart=on-failure
RestartSec=15s
ExecStart=/bin/bash /opt/ovos/check_wifi_setup.sh

[Install]
WantedBy=multi-user.target
